@media screen and (max-width: 1000px) {
    .education_card h4 {
        margin-top: 13px;
    }
    .fixed_ele {
        height: 4.3vh;
    }

}

@media screen and (max-width: 463px) {
    #right_nav {
        display: none;
    }

    #left_nav h2 {
        font-size: 5.5vw;
    }

    .section,
    .first {
        margin-top: 50px;
    }

    .nav_menu {
        display: block;
    }

    nav {
        justify-content: center;

    }

    section,
    .first {
        flex-direction: column;
        margin-top: 60px;
    }

    #first_responsive {
        flex-direction: column-reverse;
    }

    .first .right_section img {
        width: 50vw;
    }

    .first .right_section img:hover{
        width: 50vw;
    }

    .first .left_section {
        width: 69vw;
        margin-top: 35px;
    }

    .first .left_section a {
        font-size: 4.5vw;
    }

    .notibody #noti-txt {
        font-size: 3vw;
    }

    .card {
        width: 50vw;
        height: 17vh;
    }

    .card-inner span {
        font-size: 4vw
    }

    .cv_card span {
        font-size: 3.5vw;
    }

    .cv_card img{
        height: 3.4vh;
    }

    .circle {
        width: 9.5vw;
        height: 7.8vh;
    }

    .circle:nth-child(1) {
        top: -16px;
    }

    .circle:nth-child(2) {
        bottom: -16px;
    }

    .notification {
        width: 88vw;
        height: 104vh;
    }

    .second hr {
        display: none;
    }

    .ex_1 {
        margin-top: 4vw;
    }

    .card_2_content h2 {
        font-size: 4.4vw;
    }

    .education_card {
        width: 42vw;
    }

    .education_card:hover {
        width: 38vw;
    }

    .education_card h4 {
        font-size: 2.3vw;
        margin-top: 15px !important;
    }

    .education_card h5 {
        font-size: 1.65vw;
    }

    .card_2 {
        width: 88vw;
    }

    .skills {
        width: 88vw;
    }

    .skills_head span h2 {
        font-size: 3.8vw;
    }

    .skills .inner_skills label h3 {
        font-size: 3.4vw;
    }

    .inner_skills {
        width: 80%;
    }

    .inner_skills_hidden {
        width: 90%;
    }

    .common_class_1,
    .percent {
        font-size: 3vw;
    }

    .learning {
        width: 25vw;
        height: 1.1vh;
    }

    .purple b {
        font-size: 5vw;
    }

    .contact_me_head h2 {
        font-size: 3.5vw;
    }

    .contact_details h4 {
        font-size: 2.6vw;
    }

    .contact_details h4 img {
        width: 3.3vw;
    }

    footer p {
        font-size: 2.5vw;
    }

    .fixed_ele {
        height: 20px;
        width: 20px;
    }

    .fixed {
        top: 27vw;
        left: 3.5vw;
    }

    #cv{
        display: none;
    }

    .cv_card{
        width: 130px;
        height: 35px;
    }

    .cv_card:hover{
        width: 120px;
        height: 26px;
    }

    .second a {
        margin: 15px 0;
    }

    .card:hover{
        transform: none;
    }

   
}
